main {
    margin-bottom: 8vh;
}

.contact_area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    margin: auto;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    top: 50vh;
    right: 25vw;
}

.contact_area>li {
    margin: auto 3vw;
    font-size: 50px;
    text-align: center;
    background-color: rgba(red, green, blue, alpha);
    height: 70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #e19221;
    transition: 0.2s ease;
    border: 2px solid rgba(225, 225, 225, 0.8);
    cursor: pointer;
    color: black;
}

.contact_area>li:hover {
    background: rgba(225, 225, 225, 0.5);
    border: 2px solid #e19221;
}

.contact_area>li>span {
    display: block;
    font-size: 20px;
}

#map {
    height: 50vh;
    width: 100%;
}

form {
    display: grid;
    width: 100%;
    text-align: center;
    height: 400px;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    align-content: center;
}

input,
textarea {
    border: 2px solid transparent;
    -webkit-box-shadow: 0 5px 10px rgba(128, 128, 128, 0.4), 0 5px 10px rgba(128, 128, 128, 0.4);
    -moz-box-shadow: 0 5px 10px rgba(128, 128, 128, 0.4), 0 5px 10px rgba(128, 128, 128, 0.4);
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.4), 0 5px 10px rgba(128, 128, 128, 0.4);
    padding: 10px;
    outline: none;
}

input:focus,
textarea:focus {
    border: 2px solid #e19221;
}

form>section:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    margin: 0 auto;
    align-self: end;
}

form>section:last-child {
    display: grid;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    align-self: end;
}

#name,
#email,
#phone,
#subject,
textarea {
    margin: auto;
    display: block;
}

#subject,
textarea {
    width: 30vw;
}

form>section:last-child {
    text-align: center;
    align-items: stretch;
    width: 50%;
    margin: auto;
}

form>section div {
    margin: 15px auto;
}

label {
    margin: 5px;
    color: rgba(0, 0, 0, 0.6);
}

form>button {
    height: auto;
    width: 150px;
    margin: 15px auto;
}