/* Who are we - employers */

.employers_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: 100%;
    max-width: 80%;
    margin: 7vh auto;
}

.template_text {
    padding: 2rem;
}

.template_text h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
}

.template_text p {
    line-height: 1.5;
    margin: 2vh auto;
}

.contact_person {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.contact_person span:last-child {
    color: rgb(183, 121, 33);
    margin-top: 10px;
}


/* left template */

.left_template,
.right_template {
    display: grid;
    margin: 3vh;
    max-height: 270px;
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.4);
    border-radius: 6px;
}

@media only screen and (min-width: 650px) {
    .left_template {
        grid-template-columns: minmax(230px, 33%) 66%;
    }
    .right_template {
        grid-template-columns: minmax(230px, 66%) 33%;
    }
}

@media screen and (max-width: 1521px) {
    .employers_container {
        margin: 5vh auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 1245px) {
    .employers_container {
        margin: 5vh auto;
        max-width: 80%;
    }
}

@media only screen and (max-width: 840px) {
    .contact_person>span {
        font-size: 20px;
    }
    .employers_container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .left_template,
    .right_template {
        grid-template-rows: repeat(2, minmax(min-content, max-content));
    }
}

.employer1_img,
.employer2_img {
    width: 100%;
}

.left_template {
    align-self: left;
    text-align: left;
}


/* right template */

.right_template {
    align-self: right;
    text-align: right;
}

.employer1_img,
.employer2_img {
    background-repeat: no-repeat;
    max-height: 270px;
    max-width: 250px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.employer1_img {
    background: url("../pictures/employers/person1_small.png"), rgb(183, 121, 33);
}

.employer2_img {
    background: url("../pictures/employers/person2_small.png"), rgb(183, 121, 33);
}